.layout-pages {
    width: 100%;
    background-color: #FFFFFF;
    margin: 25px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.08);
}

.add-blog {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-title {
    width: 100%;
    height: fit-content;
    margin: 10px;
    
}

.btn-add-blog {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #696cff;
    cursor: pointer;
}

.btn-add-blog:hover {
    background-color: #484aa7;
    cursor: pointer;
}
@media (max-width: 768px) {
   
}

@media (min-width: 1200px) {
    .box-add-blog {
        width: 100%;
        height: fit-content;
        padding: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
       
    }
    .btn-add-blog {
        width: 250px;
        height: 40px;
        margin: 5px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        color: #FFFFFF;
        background-color: #696cff;
        cursor: pointer;
    }
    #select-form{
        width: 250px;
    }
    .btn-lang{
        width: 31%;
        display: flex;
    }
    .add-blog {
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .box-title-add{
        width: 100%;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn-blog-en{
        width: 180px;
        height: 40px;
        margin: 5px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        color: #FFFFFF;
        background-color: #696cff;
        cursor: pointer;
    }
}
